BEGIN
  DECLARE max_watermark INT64;

  -- 1. Get the current max fill_id
  SET max_watermark = (
    SELECT COALESCE(MAX(fill_id), 0)
    FROM `iceberg_catalog.trade_tape`
  );

  -- 2. Construct and run the query dynamically
  EXECUTE IMMEDIATE FORMAT("""
    INSERT INTO `iceberg_catalog.trade_tape`
    SELECT * FROM EXTERNAL_QUERY("${project_id}.us-central1.alloydb_conn",
      "SELECT * FROM exchange.v_tape WHERE fill_id > %d");
  """, max_watermark);

END;
