streamlit==1.56.0
pandas==3.0.2
pillow==12.3.0
numpy==2.4.4
google-cloud-storage==3.10.1
google-genai==1.70.0
google-cloud-aiplatform==1.145.0
opencv-python==4.13.0.92
scikit-image==0.26.0
requests==2.34.2
cryptography==50.0.1
gitpython==3.1.58

