# Choose your Live API platform
GOOGLE_GENAI_USE_VERTEXAI=TRUE

GOOGLE_CLOUD_LOCATION=us-central1
# For Vertex AI Live API (when GOOGLE_GENAI_USE_VERTEXAI=TRUE)
GOOGLE_CLOUD_PROJECT=YOUR_PROJECT_ID

# Model selection
DEMO_AGENT_MODEL=gemini-live-2.5-flash-native-audio

# Agent selection
DEMO_AGENT_TYPE=tech_assistant

# GCS Storage path for stateful context
# Do not include trailing slash, e.g., gs://your-bucket-name/path
GCS_STORAGE=gs://YOUR_BUCKET_NAME/PATH
