construct>=2.10
google-cloud-pubsub>=2.9
harvesters>=1.4
onvif-zeep>=0.2.12
opencv-python>=4.8
paho-mqtt>=1.6.1,<2.0.0
pillow>=10.3
puremagic>=1.24
pyopenssl>=22.0.0
rfc3339>=6.2
wsdiscovery>=2.0.0
protobuf > 6.33.4
urllib3 >= 2.6.3
