# Always ignore the gcloud configuration files
.gcloudignore
.git
.gitignore
.dockerignore

# Directories you do not need in the build environment
.venv
node_modules/
__pycache__/
.idea

.DS_Store
sessions.db

tests/
