GOOGLE_GENAI_USE_VERTEXAI=TRUE
FINNHUB_API_KEY=${finnhub_api_key}

ENABLE_ORDER_SERVICE_ID_TOKEN_AUTH=true
ORDER_SERVICE_URL=${order_service_url}

ENABLE_WATCHLIST_AGENT_ID_TOKEN_AUTH=true
TOOLS_URL=${tools_url}

GOOGLE_CLOUD_AGENT_ENGINE_ENABLE_TELEMETRY=true
OTEL_INSTRUMENTATION_GENAI_CAPTURE_MESSAGE_CONTENT=true
FORECAST_MODEL_ENDPOINT_ID=forecast-service-timesfm-endpoint

SHOW_THOUGHTS=true
