PROJECT_ID={PROJECT_ID}
GOOGLE_GENAI_USE_VERTEXAI=TRUE
GOOGLE_CLOUD_AGENT_ENGINE_ENABLE_TELEMETRY=true
OTEL_INSTRUMENTATION_GENAI_CAPTURE_MESSAGE_CONTENT=true
RUN_LOCAL=True
DEVELOPER_TOKEN={DEVELOPER_TOKEN}
