#
# Copyright 2024 Google LLC
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

## Markdown Extensions
pymdown-extensions == 10.20.1
pygments == 2.19.2

## Mkdocs Plugins
mkdocs == 1.6.1
mkdocs-get-deps == 0.2.0
mkdocs-material == 9.7.1
mkdocs-redirects == 1.2.2
mkdocstrings[python] ==1.0.3
mkdocs-awesome-pages-plugin == 2.10.1

# dependencies needed for kokoro run
typing_extensions == 4.15.0
importlib_metadata == 8.7.1
astunparse == 1.6.3
pytz == 2025.2
